# clangd cache files
.cache/

# Visual Studio files
.vs

# CMake build files
[Bb]uild/
[Oo]ut/

# Binaries
[Bb]in/

# Configured file
Libraries/Runtime/Source/Core/Base.h

# TAGS files
TAGS